h1 {
    color: rgb(255, 255, 255);
    padding: 10px;
}

body { 
    background-color: #2a2b2e;
}

output{
    color:rgb(255, 255, 255)
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-item {
    margin-right: auto;
  }