h1 {
    color: rgb(255, 255, 255);
    padding: 10px;
}

body { 
    background-color: #2a2b2e;
}

.login-item {
    margin-left: auto;
  }

  a
  {
    color: #f2f2f2;
  }

  table th,td {
    color: #f2f2f2;
  }