h1 {
    color: rgb(255, 255, 255);
    padding: 10px;
}

body { 
    background-color: #2a2b2e;
}

.login-item {
    margin-left: auto;
  }

  a
  {
      color: #ffffff;
  }

  .a a:hover {
    background-color: #ddd;
    color: black;
  }