{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Compare tenants {% endblock %}</h1>
    {% for post in posts %}

<script>
  function callPythonFunction() {
      fetch('/fetch_graph_data', { method: 'POST' })
          .then(response => response.json())  // Parse the response as JSON
          .then(data => {
              // Display the response in the HTML
              document.getElementById('output').innerText = JSON.stringify(data, null, 2);
          })
          .catch(error => console.error('Error:', error));
  }
</script>

        <button onclick="callPythonFunction()">Call Python Function</button>
        <h1>   <div id="output">
          
        </div>
      </h1>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Occupation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John Doe</td>
            <td>30</td>
            <td>Software Engineer</td>
          </tr>
          <tr>
            <td>Jane Smith</td>
            <td>25</td>
            <td>Marketing Manager</td>
          </tr>
          <tr>
            <td>Peter Jones</td>
            <td>40</td>
            <td>Accountant</td>
          </tr>
        </tbody>
      </table>
      


    {% endfor %}
{% endblock %}
