{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Compare tenants {% endblock %}</h1>
    {% for post in posts %}

    <script>
      function callPythonFunction() {
          fetch('/perform_action', { method: 'POST' })
              .then(response => response.text())
              .then(data => {
                  // Display the response in the HTML
                  document.getElementById('output').innerText = data;
              })
              .catch(error => console.error('Error:', error));
      }
  </script>


        <button onclick="callPythonFunction()">Call Python Function</button>
        <div id="output"></div>
    
    {% endfor %}
{% endblock %}
